In [20]:
# Import libraries and dependencies
import api_calls
import datetime as dt
import pandas as pd
from alpaca.data import TimeFrame
from alpaca.data import BarSet
import json

In [43]:
# Call the alpaca api to get the data

# Set the ticker
ticker = "SPY"

# Set timeframe to '1D'
timeframe = TimeFrame.Day

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = dt.datetime.now() - dt.timedelta(365)
end_date = dt.datetime.now()

# Get 1 year's worth of historical data for SPY
alpaca = api_calls.call_alpaca(ticker, timeframe, start_date, end_date)

# Parse the data
data = BarSet.json(alpaca)

# Convert the data to a json string
data = json.loads(data)

# Create a Pandas DataFrame
df = pd.DataFrame(data['data'][ticker])

# Display sample data
df

,symbol,timestamp,open,high,low,close,volume,trade_count,vwap
0,SPY,2022-03-31T04:00:00+00:00,457.890,458.76,451.16,451.640,119151277.0,751165.0,455.454712
1,SPY,2022-04-01T04:00:00+00:00,453.310,453.46,449.14,452.920,88675787.0,624742.0,451.850852
2,SPY,2022-04-04T04:00:00+00:00,453.130,456.91,452.26,456.800,59413904.0,502676.0,455.311892
3,SPY,2022-04-05T04:00:00+00:00,455.220,457.83,449.82,451.030,73968352.0,643524.0,453.410072
4,SPY,2022-04-06T04:00:00+00:00,446.890,448.93,443.47,446.520,104761415.0,892577.0,446.339985
...,...,...,...,...,...,...,...,...,...
246,SPY,2023-03-24T04:00:00+00:00,391.841,395.84,389.40,395.750,107053295.0,801995.0,393.110712
247,SPY,2023-03-27T04:00:00+00:00,398.120,398.92,395.56,396.490,74024860.0,569880.0,396.937252
248,SPY,2023-03-28T04:00:00+00:00,395.770,396.49,393.69,395.600,62871680.0,494862.0,395.259804
249,SPY,2023-03-29T04:00:00+00:00,399.925,401.60,398.68,401.350,76716997.0,546559.0,399.871539
250,SPY,2023-03-30T04:00:00+00:00,404.090,404.35,402.13,402.282,34161003.0,275580.0,403.335870